<header class="header">
    <h1 class="header__title">TravelBuddy</h1>
    <img class="header__logo" src="/images/logo.png" alt="A logo do TravelBuddy, representada por um pin de localização azul, com um avião, também azul, voando ao redor dele.">
    <nav class="header__nav">
      <ul class="header__ul">
        <li class="header__ul-item"><a class="header__link" href="/roteiro">Roteiros</a></li>
        <li class="header__ul-item"><a class="header__link" href="/explorar">Explorar</a></li>
        <li class="header__ul-item"><a class="header__link" href="/">Login</a></li>
      </ul>
  </header>