<div class="post__container">
  <img class="post__image" src="<%= post.post_image || '/images/post_image.png' %>" alt="">
  <div class="post__content">
      <h3 class="post__title"><%= post.post_name %></h3>
      <p class="post__text"><%= post.post_desc %></p>
  </div>
  <img class="post__like-button" src="/images/like_empty.png" alt="">
</div>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const likeBtn = document.querySelector('.post__like-button');
    if (!likeBtn) return;
    likeBtn.addEventListener('click', () => {
      if (likeBtn.src.includes('like_empty.png')) {
        likeBtn.src = '/images/like_filled.png';
      } else {
        likeBtn.src = '/images/like_empty.png';
      }
    });
  });
</script>