<div class="post__container">
  <img class="post__image" src="<%= post.post_image || '/images/post_image.png' %>" alt="">
  <div class="post__content">
      <h3 class="post__title"><%= post.post_name %></h3>
      <p class="post__text"><%= post.post_desc %></p>
  </div>
  <img class="post__like-button" src="/images/like_empty.png" alt="">
</div>