<% if(seguindo) {%>
    <p class="info__follow-button"><a href="#" style="color:#919191; font-weight:bold;">Seguindo</a></p>
<% } else { %>
    <p class="info__follow-button"><a href="#" style="color:#2547A0; font-weight:bold;">+Seguir</a></p>
<% } %>