<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Video</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="icon" href="/images/logo.png" type="image/png">
</head>
<body>
    <div class="page">
        <%- include('partials/header') %>
    </div>
</body>
</html>