<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TravelBuddy</title>
    <link rel="stylesheet" href="/stylesheets/index.css"/>
</head>
<body>
    <div class="page">
        <%- include('partials/header') %>

<main class="content">
    <section class="destino">
        <h2>Destinos Populares</h2>
        <div class="destino__container">
            <img class="destino__image" src="/images/video_image.png" alt="">
            <img class="destino__profile" src="/images/profilepic.png" alt="">
            <p class="destino__title"></p>
            <div class="location">
                <img class="location__pin" src="/images/pin.png" alt="">
                <p class="location__text"></p>
            </div>
            <div class="info">
                <p class="info__author"></p>
                <p class="info__stats"></p>
                <p class="info__follow-button"></p>
            </div>
        </div>
        <div class="destino__container">
            <img class="destino__image" src="/images/video_image.png" alt="">
            <img class="destino__profile" src="/images/profilepic.png" alt="">
            <p class="destino__title"></p>
            <div class="location">
                <img class="location__pin" src="/images/pin.png" alt="">
                <p class="location__text"></p>
            </div>
            <div class="info">
                <p class="info__author"></p>
                <p class="info__stats"></p>
                <p class="info__follow-button"></p>
            </div>
        </div>
        <div class="destino__container">
            <img class="destino__image" src="/images/video_image.png" alt="">
            <img class="destino__profile" src="/images/profilepic.png" alt="">
            <p class="destino__title"></p>
            <div class="location">
                <img class="location__pin" src="/images/pin.png" alt="">
                <p class="location__text"></p>
            </div>
            <div class="info">
                <p class="info__author"></p>
                <p class="info__stats"></p>
                <p class="info__follow-button"></p>
            </div>
        </div>
        <div class="destino__container">
            <img class="destino__image" src="/images/video_image.png" alt="">
            <img class="destino__profile" src="/images/profilepic.png" alt="">
            <p class="destino__title"></p>
            <div class="location">
                <img class="location__pin" src="/images/pin.png" alt="">
                <p class="location__text"></p>
            </div>
            <div class="info">
                <p class="info__author"></p>
                <p class="info__stats"></p>
                <p class="info__follow-button"></p>
            </div>
        </div>
        <div class="destino__container">
            <img class="destino__image" src="/images/video_image.png" alt="">
            <img class="destino__profile" src="/images/profilepic.png" alt="">
            <p class="destino__title"></p>
            <div class="location">
                <img class="location__pin" src="/images/pin.png" alt="">
                <p class="location__text"></p>
            </div>
            <div class="info">
                <p class="info__author"></p>
                <p class="info__stats"></p>
                <p class="info__follow-button"></p>
            </div>
        </div>
        <div class="destino__container">
            <img class="destino__image" src="/images/video_image.png" alt="">
            <img class="destino__profile" src="/images/profilepic.png" alt="">
            <p class="destino__title"></p>
            <div class="location">
                <img class="location__pin" src="/images/pin.png" alt="">
                <p class="location__text"></p>
            </div>
            <div class="info">
                <p class="info__author"></p>
                <p class="info__stats"></p>
                <p class="info__follow-button"></p>
            </div>
        </div>
        <div class="destino__container">
            <img class="destino__image" src="/images/video_image.png" alt="">
            <img class="destino__profile" src="/images/profilepic.png" alt="">
            <p class="destino__title"></p>
            <div class="location">
                <img class="location__pin" src="/images/pin.png" alt="">
                <p class="location__text"></p>
            </div>
            <div class="info">
                <p class="info__author"></p>
                <p class="info__stats"></p>
                <p class="info__follow-button"></p>
            </div>
        </div>
        <div class="destino__container">
            <img class="destino__image" src="/images/video_image.png" alt="">
            <img class="destino__profile" src="/images/profilepic.png" alt="">
            <p class="destino__title"></p>
            <div class="location">
                <img class="location__pin" src="/images/pin.png" alt="">
                <p class="location__text"></p>
            </div>
            <div class="info">
                <p class="info__author"></p>
                <p class="info__stats"></p>
                <p class="info__follow-button"></p>
            </div>
        </div>
        <h4 class="show-more">Mostrar Mais</h4>
    </section>

    <section class="post">
        <div class="post__container">
            <img class="post__image" src="/images/post_image.png" alt="">
            <div class="post__container">
                <h3 class="post__title"></h3>
                <p class="post__text"></p>
            </div>
            <img class="post__like-button" src="/images/like_empty.png" alt="">
        </div>
        <div class="post__container">
            <img class="post__image" src="/images/post_image.png" alt="">
            <div class="post__container">
                <h3 class="post__title"></h3>
                <p class="post__text"></p>
            </div>
            <img class="post__like-button" src="/images/like_empty.png" alt="">
        </div>
        <h4 class="show-more">Mostrar Mais</h4>
    </section>
  </main>
  </div>
</body>
</html>