<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="icon" href="/images/logo.png" type="image/png">
</head>
<body>
    <div class="page">
        <%- include('partials/header') %>
    <main class="content">
        <section class="button-container">
            <!-- <a class="blue-button" href="/createVideo">Criar Vídeo</a> -->
            <a class="blue-button" href="/createPost">Criar Roteiro</a>
          </section>

        

        <div class="destino">
            <h2 class="explore-title">Seus vídeos</h2>
            <div class="destino__grid" id="videos-list">
                <% videos.forEach(function(video) { %>
                    <%- include('partials/minivideo', {video}) %>
                <% }) %>
            </div>
        </div>

        <h2 class="explore-title">Seus roteiros</h2>
        <div id="posts-list" class="posts-list">
            <% posts.forEach(function(post) { %>
                <%- include('partials/post', {post}) %>
            <% }) %>
        </div>
    </main>
    </div>
</body>
</html>