<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roteiro</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>
    <div class="page">
        <%- include('partials/header') %>
    <main class="content">
        <section>
            <button>
                <a href="/createRoteiro">Criar Roteiro</a>
            </button>
            <button>
                <a href="/createPost">Criar Post</a>
            </button>
        </section>

        <section class="video">
            <h2 class="video__maintitle">Favoritos</h2>
                <div class="video__container">
                    <img class="video__image" src="" alt="">
                    <img class="video__profile" src="" alt="">
                    <p class="video__title"></p>
                    <div class="location">
                        <img class="location__pin" src="" alt="">
                        <p class="location__text"></p>
                    </div>
                    <div class="info">
                        <p class="info__author"></p>
                        <p class="info__stats"></p>
                        <p class="info__follow-button"></p>
                    </div>
                </div>
                <div class="video__container">
                    <img class="video__image" src="" alt="">
                    <img class="video__profile" src="" alt="">
                    <p class="video__title"></p>
                    <div class="location">
                        <img class="location__pin" src="" alt="">
                        <p class="location__text"></p>
                    </div>
                    <div class="info">
                        <p class="info__author"></p>
                        <p class="info__stats"></p>
                        <p class="info__follow-button"></p>
                    </div>
                </div>
                <div class="video__container">
                    <img class="video__image" src="" alt="">
                    <img class="video__profile" src="" alt="">
                    <p class="video__title"></p>
                    <div class="location">
                        <img class="location__pin" src="" alt="">
                        <p class="location__text"></p>
                    </div>
                    <div class="info">
                        <p class="info__author"></p>
                        <p class="info__stats"></p>
                        <p class="info__follow-button"></p>
                    </div>
                </div>
                <div class="video__container">
                    <img class="video__image" src="" alt="">
                    <img class="video__profile" src="" alt="">
                    <p class="video__title"></p>
                    <div class="location">
                        <img class="location__pin" src="" alt="">
                        <p class="location__text"></p>
                    </div>
                    <div class="info">
                        <p class="info__author"></p>
                        <p class="info__stats"></p>
                        <p class="info__follow-button"></p>
                    </div>
                </div>
                <div class="video__container">
                    <img class="video__image" src="" alt="">
                    <img class="video__profile" src="" alt="">
                    <p class="video__title"></p>
                    <div class="location">
                        <img class="location__pin" src="" alt="">
                        <p class="location__text"></p>
                    </div>
                    <div class="info">
                        <p class="info__author"></p>
                        <p class="info__stats"></p>
                        <p class="info__follow-button"></p>
                    </div>
                </div>
        </section>

        <section class="post">
            <div class="post__container">
                <div class="post__container">
                    <h3 class="post__title"></h3>
                    <p class="post__text"></p>
                </div>
                <img class="post__like-button" src="" alt="">
            </div>
            <div class="post__container">
                <div class="post__container">
                    <h3 class="post__title"></h3>
                    <p class="post__text"></p>
                </div>
                <img class="post__like-button" src="" alt="">
            </div>
        </section>

        <section class="following">
            <h2 class="following__title">Seguindo</h2>
            <div class="following__container">
                <img class="following__image" src="" alt="">
                <img class="following__image" src="" alt="">
                <img class="following__image" src="" alt="">
                <img class="following__image" src="" alt="">
                <img class="following__image" src="" alt="">
            </div>
        </section>
    </main>
    </div>
</body>
</html>