.add-image {

}

.add-image__button {

}

.add-image__text {

}

.add-image__image {

}

.add-image__preview {

}

.add-image__container {
    background-color: #D9D9D9;
    width: 236px;
    height: 177px;
}

.add-image__slots {
    width: 236px;
    height: 177px;
}