.explore-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90vw;
}

.explore-title {
    color: #2547A0;
    font-size: 39px;
    font-weight: 500;
    font-family: 'Space Grotesk', sans-serif;
    margin: 0;
    padding-bottom: 30px;
}

.search-bar {
    display: flex;
    justify-content: center;
    margin: 32px 0 24px 0;
}

.search-bar input[type="text"] {
    width: 420px;
    padding: 10px 16px;
    border-radius: 8px 0 0 8px;
    border: none;
    font-size: 1.1rem;
    background: #181818;
    color: #fff;
}

.search-bar button {
    padding: 10px 18px;
    border-radius: 0 8px 8px 0;
    border: none;
    background: #2547A0;
    color: #fff;
    font-size: 1.1rem;
    cursor: pointer;
}

.destino__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    margin-bottom: 18px;
}

.destino__container {
    background: #18181800;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.destino__image {
    width: 100%;
    border-radius: 6px;
    object-fit: cover;
}

.destino__profile {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    margin-top: -19px;
    margin-left: 8px;
    border: 1px solid #fff;
    object-fit: cover;
    background: #fff;
}

.destino__title {
    color: #fff;
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0;
    padding-top: 3px;
    padding-bottom: 15px;
    height: 10px;
}

.show-more {
    text-align: center;
    color: #fff;
    margin: 18px 0 0 0;
    cursor: pointer;
}

.button-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
    padding-bottom: 25px;
  }
  
  .blue-button {
    background-color: #2547A0;
    color: white;
    padding: 20px 30px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    font-family: inherit;
    transition: background 0.2s;
    font-size: 20px;
    text-align: center;
    gap: 30px;
    width: 200px;
    justify-content:space-between;
  }
  
  .blue-button:hover {
    background-color: #1e3b8a;
  }

  .info__author {
    text-decoration: none;
    font-weight: bold;
  }
  
  .info__author:hover {
    text-decoration: underline;
  }

  .destino__container a {
    text-decoration: none;
    color: inherit;
  }
  