.form {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 2%;
}

.form__title {
    margin: 0;
    color: #B4B4B4;
    font-size: 48px;
    font-weight: 500;
    font-family: 'Space Grotesk', sans-serif;
    line-height: 100px;
}

.form__container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2vh;
}

.form__input {
    padding: 2% 2% 2% 6%;
    background: none;
    border-radius: 13px;
    border-color: white;
    border-width: 2px;
    color: rgba(255, 255, 255, 0.3);
    font-size: 20px;
    font-weight: 500;
    font-family: 'Space Grotesk', sans-serif;
    line-height: 32px;
}

.form__input:focus {
    outline: 2px solid #2547A0;
}

.form__button {
    width: 35%;
    background-color: #2F2F2F;
    border-radius: 50px;
    border-width: 0;
    color: #B4B4B4;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Space Grotesk', sans-serif;
    line-height: 50px;
}

.post-form {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 90vw;
    max-width: 1000px;
    margin: 40px auto 0 auto;
}

.post-form__row {
    display: flex;
    gap: 32px;
    align-items: center;
}

.post-form__input {
    flex: 1;
    background: none;
    border: 2px solid #B4B4B4;
    border-radius: 13px;
    color: #fff;
    font-size: 1.2rem;
    padding: 18px;
    font-family: 'Space Grotesk', sans-serif;
    height: 48px;
}

.post-form__input::placeholder {
    color: #B4B4B4;
}

.post-form__textarea {
    background: none;
    border: 2px solid #B4B4B4;
    border-radius: 13px;
    color: #fff;
    font-size: 1.2rem;
    padding: 18px;
    font-family: 'Space Grotesk', sans-serif;
    min-height: 260px;
    resize: vertical;
    width: 100%;
}

.post-form__textarea::placeholder {
    color: #B4B4B4;
}

.post-form__button {
    background: #2547A0;
    color: #fff;
    border: none;
    border-radius: 16px;
    padding: 16px 0;
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
    width: 320px;
    align-self: flex-end;
}