@import url(banner.css);
@import url(footer.css);
@import url(form.css);
@import url(header.css);
@import url(welcome.css);
@import url(admin.css);
@import url(cadastro.css);
@import url(add-image.css);
@import url(explore.css);
@import url(profile.css);
@import url(post.css);
@import url(video.css);
@import url(info.css);
@import url(location.css);

body {
    margin: 0;
}

/* Oculta a barra de rolagem para o Chrome, Safari e Edge. */
body::-webkit-scrollbar {
    display: none;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #080808;
    min-height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
}