.info {
    display: flex;
    justify-content: left;
    padding-top: 7px;
    flex-direction: column;
}

.info * {
    margin: 0;
    font-size: 0.7rem;
}

.info__stats {
    color: #b4b4b4;
}
.info__follow-button a {
    color: #2547A0;
    font-weight: bold;
    text-decoration: none;
}
.info__author {
    color: #b4b4b4;
}
.info__stats {
    color: #b4b4b4;
}
.info__follow-button {
    margin-top: 4px;
}