.info {
    display: flex;
    align-items: center;
    margin-left: 5vw;
    margin-top: 10px;
}
.info__stats {
    color: #b4b4b4;
    font-size: 1.1rem;
    margin-right: 24px;
}
.info__follow-button a {
    color: #2547A0;
    font-weight: bold;
    text-decoration: none;
}
.info__author {
    color: #b4b4b4;
    font-size: 1rem;
}
.info__stats {
    color: #b4b4b4;
    font-size: 0.95rem;
}
.info__follow-button {
    margin-top: 4px;
}