.post {
    padding-top: 30px;
    width: 100%;
}
.post__container {
    display: flex;
    background: #18181800;
    border-radius: 12px;
    margin-bottom: 16px;
    padding: 20px;
    border: 1px solid #181818;
    align-items: flex-start;
}
.post__image {
    width: 380px;
    height: 270px;
    border-radius: 10px;
    object-fit: cover;
}
.post__content {
    padding-left: 50px;
    flex: 1;
}
.post__title {
    font-size: 1.75rem;
    color: #fff;
    margin: 0;
    padding-top: 10px;
}
.post__text {
    color: #b4b4b4;
    font-size: 1.1rem;
    margin: 0;
    padding-top: 10px;
    line-break: normal;
    word-break: break-all;
}
.post__like-button {
    width: 32px;
    height: 32px;
    margin-left: auto;
    cursor: pointer;
}
.post-form__container {
    background: #181818;
    border-radius: 16px;
    padding: 32px 32px 24px 32px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 480px;
    margin: 0 auto;
    margin-top: 40px;
    box-shadow: 0 4px 32px #0003;
}

.post-form__title {
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 12px;
    text-align: center;
}

.posts-list {
    width: 100%;
}