.profile {
    padding-top: 1%;
}
.profile__banner {
    width: 100vw;
    max-height: 220px;
    max-width: 100%;
    object-fit: cover;
}
.profile__pic {
    margin-left: 5vw;
    margin-top: -12vh;
    width: 140px;
    height: 140px;
    position: relative;
    z-index: 2;
    border-radius: 50%;
}

.profile__mainframe {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.profile__info {
    flex: 7;
}

.profile__stats {
    flex: 3;
    text-align: right;
    justify-content: right;
    align-items: right;
    padding-top: 40px;
}

.profile__name {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}
.profile__bio {
    padding-left: 1vw;
    padding-top: 0px;
    color: #b4b4b4;
    font-size: 1.1rem;
    line-height: 1.4;
    margin: 0;
    padding-bottom: 30px;
}

.follow-btn {
    background:none;
    border:none; color: #2547A0;
    font-weight:bold;
    cursor:pointer;
    font-size: 16px;
}

.IsFollowing {
    color: #7d7d7d;
}