<div class="image-container">
    <img src="/assets/img/headerbackground1.png" width="100%" height="auto" />
    <h2 class="centered-text banner-text" style="width: 75%">
      Descubra o mundo com a gente
    </h2>
  </div>

  <div
    class="center list-side"
    style="background-color: rgba(0, 0, 0, 0); margin-top: 80px; width: 100%"
  >
    <div
      class="left list-down fixed"
      style="background-color: rgba(0, 0, 0, 0); margin: 0px; width: 50%; gap: 30px"
    >
      <h1 class="banner-text blue" style="width: 75%">Bom te ver novamente!</h1>
      <h1 class="big-text gray" style="width: 75%">
        Que bom ter você de volta! Faça login para continuar explorando destinos
        incríveis e aproveitando tudo o que nossa comunidade tem a oferecer.
      </h1>
    </div>

    <div class="right login-form">
      <h2 class="gray big-title">Faça Login</h2>
      <form class="list-down" style="gap: 20px" id="login-form">
        <input type="email" id="email" name="email" placeholder="Email" class="input-field" />
        <input type="password" id="senha" name="password" placeholder="Senha" class="input-field" />
        <button type="submit" class="button">Entrar</button>
      </form>
    </div>
  </div>

  <div
    class="center list-down"
    style="background-color: rgba(0, 0, 0, 0); margin-top: 80px; align-items: center; gap: 20px"
  >
    <h1 class="title blue">Novo por aqui? Cadastre-se agora!</h1>
    <button
      type="submit"
      class="center button"
      style="padding-left: 50px; padding-right: 50px"
    >
      Cadastrar-se
    </button>
  </div>